@font-face {
  font-family: "Sansita One";
  src: url("/fonts/SansitaOne.woff2") format("woff2"), url("/fonts/SansitaOne.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
