.counter__box {
  display: grid;
  grid-template-rows: auto auto;

  color: var(--main-font-color);
  text-align: center;
  border: 2px solid var(--highlight-color); /* Tjock yttre ram */
  border-radius: 3px;

  width: 100%;
  margin-top: 1rem;
}
