.counter__box {
  display: grid;
  grid-template-rows: auto auto;

  color: var(--main-font-color);
  text-align: center;
  border: 2px solid var(--highlight-color); /* Tjock yttre ram */
  border-radius: 3px;
}

.counter__box--event-page {
  width: 80%;
  margin-top: 2rem;
}

.counter__box--order-page {
  width: 100%;

  margin-bottom: 1rem;
}
