.ticket__swiper-wrapper {
  width: auto;
  padding: 2rem;
  /* margin: 2rem auto; */
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center; /* För att centrera swiper och pagination */
  position: relative;
}

.ticket__swiper {
  width: 100%;
  max-width: 400px;
  flex: 1;

  margin-bottom: 50px;
  position: relative;
}

.ticket__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Anpassa höjden för att passa innehållet */
}

/* Styling för min Swiper pagination (punkterna) */
.swiper-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10; /* Gör att prickarna syns ovanpå */
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 1;
  margin: 0 4px;
  transition: background-color 0.3s ease-in-out;
  width: 1rem !important; /* större prickar än original */
  height: 1rem !important; /* större prickar än original */
  /* border-radius: 50% !important; För att behålla rund form, finns väl redan? */
}

.swiper-pagination-bullet-active {
  background-color: var(--highlight-color) !important ; /* ersätter originalfärg med min egen variabel */
}

/* ta bort överdriven skuggeffekt, skapar egen i ticketItem*/
.swiper-slide-shadow,
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}

/*------------ onödig kod härnere?-------------/*

/* .swiper-button-next,
.swiper-button-prev {
  background-color: var(--highlight-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
} */

/* .swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
} */
