* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #231f42;
  --main-font-color: #ffffff;
  --highlight-color: #f56b9a;
  --btn-color: #37aeab;

  /* skapa en RGBA färg för grå effekt på färdiga tickets */
}
